<div class="form-container">
        <h1 class="form-title">Crear Superhéroe</h1>
        <form action="https://sprint4-practico1-1-hze6.onrender.com/api/crearSuperheroe" method="post" class="form-body">
            <fieldset class="fieldset">
                <legend class="legend">Información General</legend>
                <div class="grid-inputs">
                    <label class="form-label">Nombre del Superhéroe:
                        <input type="text" name="nombreSuperHeroe" required minlength="3" maxlength="60" class="form-input">
                    </label>
                    <label class="form-label">Nombre Real:
                        <input type="text" name="nombreReal" required minlength="3" maxlength="60" class="form-input">
                    </label>
                    <label class="form-label">Edad:
                        <input type="number" name="edad" required class="form-input">
                    </label>
                    <label class="form-label">Planeta de Origen:
                        <input type="text" name="planetaOrigen" required class="form-input">
                    </label>
                    <label class="form-label">Debilidad:
                        <input type="text" name="debilidad" required class="form-input">
                    </label>
                    <label class="form-label">Creador:
                        <input type="text" name="creador" minlength="3" maxlength="60" class="form-input">
                    </label>
                </div>
            </fieldset>
    
            <fieldset class="fieldset">
                <legend class="legend">Poderes (Separados por coma)</legend>
                <input type="text" name="poderes" required class="form-input">
            </fieldset>
    
            <fieldset class="fieldset">
                <legend class="legend">Aliados (Separados por coma)</legend>
                <input type="text" name="aliados" required class="form-input">
            </fieldset>
    
            <fieldset class="fieldset">
                <legend class="legend">Enemigos (Separados por coma)</legend>
                <input type="text" name="enemigos" required class="form-input">
            </fieldset>
    
            <button type="submit" class="submit-button">Crear Superhéroe</button>
        </form>
    </div>
    